.App {
  text-align: center;
}
::-moz-placeholder { 
  color: rgba(0, 0, 0, 0.1);
  font-style: italic;
}
::-webkit-input-placeholder {
  color:rgba(0, 0, 0, 0.1); 
  font-style: italic;
}
:-ms-input-placeholder { 
  color:rgba(0, 0, 0, 0.1); 
  font-style: italic;
}
#root{
  width: 420px;
  margin: 40px auto;
}
.todoInput{
  height: 50px;
  width: 400px;
  /*text-align: center;*/
  text-indent: 20px;
  letter-spacing: 2px;
  margin: 20px auto;
  outline: none;
  font-size: 30px;
}
li{
  list-style: none;
}

.todo-li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
  /*height: 15px;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  left: -20px;
}
.do-thing{
  word-break: break-all;
  width: 300px;
}
.not-done{
  color: black;
}
.has-done{
  color: grey;
  text-decoration: line-through;
}
.delete-self{
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #cc9a9a;
}
.visibility-hidden{
  visibility: hidden;
}
.visibility-visible{
  visibility: visible;
}
.select-span{
  display: inline-block;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius:50%; 
}
.has-selected{
  line-height: 20px;
  cursor: pointer;
}
.unselected{
  color: rgba(0, 255, 127, 0);
  cursor: pointer;
}
.fifter{
  display: inline-block;
  margin-left: 10px;
  border-radius: 20%;
  cursor: pointer;
  border: 1px solid white;
}
.fifter:hover{
  border: 1px solid rgba(175, 47, 47, 0.3);
}
.has-fifter{
  border: 1px solid rgba(175, 47, 47, 0.5);
}
.clear-done{
  display: inline-block;
  margin-left: 10px;
  border-radius: 10%;
  cursor: pointer;
  border: 1px solid white;
}
.clear-done:hover{
  border: 1px solid grey;
}
.all-done{
  display: inline-block;
  margin-left: 10px;
  border-radius: 20%;
  cursor: pointer;
  border: 1px solid white;
}
.all-done:hover{
  border: 1px solid grey;
}
.footer{
  position: relative;
  vertical-align: middle;
  padding-bottom: 10px;
}
.footer::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 10px;
    width: 400px;
    vertical-align: middle;
    height: 50px;
    z-index: -1;
    overflow: hidden;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.visibility-hidden{
  visibility: hidden;
}
.visibility-visible{
  visibility: visible;
}